* {
    box-sizing: border-box;
}

li,
ul,
ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

label,
input {
    display: block;
    width: 100%;
}

a {
    text-decoration: none;
    color: black;
}

.d-none {
    display: none;
}

.d-block {
    display: block;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

header,
footer {
    position: fixed;
    height: 3em;
}

header {
    left: 0;
    right: 0;
    top: 0;
    padding: 0 .5em;
}

header .navbarMaster {
    display: flex;
    justify-content: space-between;
}

header .navbarMaster .logo {
    width: 25%;
}

header .navbarMaster .likesAndMsg {
    width: 12%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.msgIcon {
    color: red;
}

header .navbarSlave {
    display: flex;
    justify-content: space-between;
}

header .navbarSlave .logoNav div {
    display: inline-block;
    margin-right: 1.5em;
}

header .navbarSlave .newMsg {
    display: flex;
    align-items: center;
}

main {
    margin-top: 5em;
}

main .stories .innerStories {
    overflow-x: auto;
    white-space: nowrap;
    max-width: 120em;
}

main .stories .innerStories .story {
    display: inline-block;
    width: 4em;
    height: auto;
    margin-right: 1em;
}

main .stories .innerStories .story h5 {
    font-size: .6em;
    text-align: center;
}

main .stories .innerStories .story img {
    border-radius: 50%;
    width: 100%;
    height: auto;
}

footer {
    left: 0;
    right: 0;
    bottom: 0;
}

footer nav {
    display: flex;
    justify-content: space-around;
}

footer nav h5 {
    font-size: .6em;
}

footer nav .profileImg {
    display: flex;
    align-items: center;
}

footer nav .profileImg div {
    width: 1em;
    height: auto;
}

footer nav .profileImg img {
    width: 100%;
    border-radius: 50%;
}

/* Login */
main .login {
    padding: 5em;
}

main .login .innerLogin {
    display: flex;
    justify-content: space-around;
}

/* Register */
main .register {
    padding: 5em;
}

main .register .innerRegister {
    display: flex;
    flex-direction: column;
}

/* end */

/* message */

main .message {
    display: flex;
    flex-direction: column;
    height: 85vh;
}

main .message .innerMessage {
    padding: 0 1em;
}

main .message .innerMessage .bottom .chat {
    border: 1px solid gray;
    border-radius: 5px;
}

main .innerMessage,
main .innerMessage .bottom,
main .innerMessage .bottom .chat {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

main .innerMessage .message .bottom .chat .replyInput {
    bottom: 0;
    border: 2px solid black;
}

/* growinput*/

.textarea {
    display: block;
    width: 100%;
    overflow: hidden;
    resize: both;
    min-height: 40px;
    line-height: 20px;
}

.textarea[contenteditable]:empty::before {
    content: "Placeholder still possible";
    color: gray;
}

/* end */

/* messages */

.messages .innerMessages {
    padding: 0 1em;
}

#searchId {
    position: relative;
}

.resultsClass {
    position: absolute;
    padding: 1em;
    border: 1px solid gray;
    background-color: aliceblue;
}

/* end */


@media (max-width: 767px) {
    main .login .imageLogin {
        display: none;
    }

    main .login .innerLogin {
        display: block;
    }
}