* {
    box-sizing: border-box;
}

li,
ul,
ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

label,
input {
    display: block;
    width: 100%;
}

a {
    text-decoration: none;
    color: white;
}

.d-none {
    display: none;
}

.d-block {
    display: block;
}

textarea,
input,
#resultsId {
    background-color: #262626;
    color: white;
}

video {
    position: relative;
    z-index: 999;
}

body {
    font-size: 0.9rem;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    color: white;
    background-color: black;
}

header,
footer {
    position: fixed;
    background-color: black;
    height: 3em;
}

header {
    left: 0;
    right: 0;
    top: 0;
    padding: 0 .5em;
}

header .navbarMaster {
    display: flex;
    justify-content: space-between;
}

header .navbarMaster .logo {
    width: 25%;
}

header .navbarMaster .likesAndMsg {
    width: 12%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#messageIcon {
    display: block;
    z-index: 1;
}

header .navbarMaster .likesAndMsg .msg .countMsg {
    display: block;
    position: absolute;
    border-radius: 50%;
    background-color: red;
    z-index: 10;
    top: .8em;
    right: .1em;
}

header .navbarMaster .likesAndMsg .msg .countMsg .innerCountMsg {
    font-size: .6em;
    margin: 0 .3em;
}

.msgIcon {
    color: red;
}

header .navbarSlave {
    display: flex;
    justify-content: space-between;
}

header .navbarSlave .logoNav div {
    display: inline-block;
    margin-right: 1.5em;
}

header .navbarSlave .newMsg {
    display: flex;
    align-items: center;
}

/* showallmessagesNav */

.showAllMessagesNav {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.showAllMessagesNav nav ul {
    display: flex;
    justify-content: space-between;
}

/**/

main .home {
    margin-top: 5em;
    margin-bottom: 5em;
}

main .home .innerHome .top .innerTop {
    overflow-x: auto;
    white-space: nowrap;
    max-width: 120em;
    padding: 0 .5em;
}

main .home .innerHome .top .innerTop .addStory,
main .home .innerHome .top .innerTop .story {
    display: inline-block;
    margin-right: 1em;
}

main .home .innerHome .top .innerTop .story {
    cursor: pointer;
}

main .home .innerHome .top .innerTop .addStory {
    position: relative
}

main .home .innerHome .top .innerTop .addStoryPlus {
    position: absolute;
    width: 1em;
    height: 1em;
    left: 80%;
    top: 50%;
    border-radius: 50%;
    background-color: #0099ff;
    display: flex;
    justify-content: center;
    align-items: center;
}

main .home .innerHome .top .innerTop .addStoryPlus p {
    margin: 0;
}

main .home .innerHome .top .innerTop .addStory .addStoryImg,
main .home .innerHome .top .innerTop .story .storyImg {
    width: 4em;
    height: 4em;
    border-radius: 50%;
    overflow: hidden;
}

main .home .innerHome .top .innerTop .storyImg {
    border: 2px solid aquamarine
}

main .home .innerHome .top .innerTop h5 {
    font-size: .6em;
    text-align: center;
    margin: 0.5em 0;
}

main .home .innerHome .top .innerTop .addStory img,
main .home .innerHome .top .innerTop .story img {
    width: 100%;
    height: auto;
}

main .home .innerHome .bottom .innerBottom .post .image {
    margin-bottom: 2em;
}

main .home .innerHome .bottom .innerBottom .post .image .bottom .icons .like {
    color: red;
}

main .home .innerHome .bottom .innerBottom .post .image .pic {
    width: auto;
    height: 60vh;
    display: flex;
    justify-content: center;
    overflow: hidden;
    align-items: center;
    background-color: antiquewhite;
}

main .home .innerHome .bottom .innerBottom .post .image .pic img {
    width: 100%;
    height: auto;
}

main .home .innerHome .bottom .innerBottom .post .image .icons {
    width: 20vw;
    display: flex;
    justify-content: space-between;
    padding-top: 1em;
}

main .home .innerHome .bottom .innerBottom .post .image .bottom {
    padding-left: 1em;
    padding-right: 1em;
}

main .home .innerHome .bottom .innerBottom .comments .likesComments {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

main .home .innerHome .bottom .innerBottom .comments .likesComments .innerLikesComments .likeComment {
    color: red;
}

main .home .innerHome .bottom .innerBottom .comments .likesComments .countLikesComments {
    margin: .4em 0;
}

footer {
    position: fixed;
    display: flex;
    align-items: center;
    left: 0;
    right: 0;
    bottom: 0;
}

footer nav {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

footer nav h5 {
    font-size: .6em;
}

footer nav .profileImg {
    display: flex;
    align-items: center;
}

footer nav .profileImg div {
    width: 1em;
    height: auto;
}

footer nav .profileImg img {
    width: 100%;
    border-radius: 50%;
}

/* Login */
main .login {
    padding: 5em;
}

main .login .innerLogin {
    display: flex;
    justify-content: space-around;
}

main .login .innerLogin form .inputForm:nth-child(2) {
    margin-bottom: 1em;
}

main .login .innerLogin form .inputForm:nth-child(3) {
    margin-bottom: 2em;
}

main .login .innerLogin form .submitForm {
    display: flex;
    justify-content: center;
}

main .login .innerLogin form .submitForm input {
    width: fit-content;
    margin-bottom: .3em;
}

/* Register */
main .register {
    padding: 5em;
}

main .register .innerRegister {
    display: flex;
    flex-direction: column;
}

main .register .innerRegister form .inputForm:nth-child(-n+4) {
    margin-bottom: 1em;
}

main .register .innerRegister form .inputForm:nth-child(5) {
    margin-bottom: 3em;
}

main .register .innerRegister form .submitForm {
    display: flex;
    justify-content: center;
}

main .register .innerRegister .submitForm input {
    width: fit-content;
    margin-bottom: .3em;
}

/* end */

/* message */

main .message {
    display: flex;
    flex-direction: column;
    height: 85vh;
}

main .innerMessage .top h4 {
    text-align: center;
}

main .message .innerMessage {
    padding: 0 1em;
}

main .message .innerMessage .bottom .chat {
    padding: 2em 0 5em 0;
}

main .innerMessage,
main .innerMessage .bottom,
main .innerMessage .bottom .chat {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

main .innerMessage .bottom .chat {
    padding: 0 .5em;
}

main .innerMessage .bottom form {
    position: fixed;
    bottom: 2.9em;
    left: 1em;
    right: 1em;
}

main .message .innerMessage .bottom .chat .innerUserMessage {
    max-width: 15em;
}

main .message .innerMessage .bottom .chat .userMessageSender {
    display: flex;
    justify-content: end;
}

main section.message div.innerMessage div.bottom div.chat div h5 {
    text-align: center;
}

main .message .innerMessage .bottom .chat .userMessageSender .innerUserMessage>div {
    background-color: #262626;
    padding: .5px;
    border-radius: 500px;
    width: fit-content;
}

main .message .innerMessage .bottom .chat .userMessageReceiver .innerUserMessage>div {
    border: 1px solid #262626;
    padding: .5px;
    border-radius: 500px;
    width: fit-content;
}

main .message .innerMessage .bottom .chat .innerUserMessage p {
    display: inline-block;
    margin: 0.6em .8em;
}

/* growinput*/

.textarea {
    display: block;
    width: 100%;
    overflow: hidden;
    max-height: 100px;
}

/* end */

/* messages */

.messages .innerMessages {
    padding: 0 1em;
}

#searchId {
    position: relative;
}

.resultsClass {
    position: absolute;
    padding: 1em;
    border: 1px solid gray;
    background-color: aliceblue;
    z-index: 10;
}

.messages .innerMessages .bottom {
    padding: .3em;
    margin: 1em 0 1em 0;
}

.messages .innerMessages .bottom .userMessage {
    display: flex;
    border: 1px solid black;
    margin-bottom: 1em;

}

.messages .innerMessages .bottom .profile {
    position: relative;
    width: 4em;
    height: 4em;
    overflow: hidden;
    display: flex;
    align-items: center;
    margin-right: 2em;
    border-radius: 50%;
}

.messages .innerMessages .bottom .profile img {
    position: absolute;
    width: 4em;
    height: auto;
}

.messages .innerMessages .bottom .userMessage .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
}

.messages .innerMessages .bottom .userMessage .content .innerContent {
    display: flex;
    justify-content: space-evenly;
    margin-top: .3em;
}

.messages .innerMessages .bottom .userMessage .content h5,
.messages .innerMessages .bottom .userMessage .content h4,
.messages .innerMessages .bottom .userMessage .content h6 {
    margin: 0;
}

.messages .innerMessages .bottom .userMessage .content h5 {
    color: gray;
}

/* end */

/* upload editor images */

.uploadForm {
    width: 850px;
    padding: 30px 35px 35px;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.uploadForm.disable .editor-panel,
.uploadForm.disable .controls .reset-filter,
.uploadForm.disable .controls .save-img {
    opacity: 0.5;
    pointer-events: none;
}

.uploadForm h2 {
    margin-top: -8px;
    font-size: 22px;
    font-weight: 500;
}

.uploadForm .wrapper {
    display: flex;
    margin: 20px 0;
    min-height: 335px;
}

.uploadForm .wrapper .editor-panel {
    padding: 15px 20px;
    width: 280px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.uploadForm .editor-panel .title {
    display: block;
    font-size: 16px;
    margin-bottom: 12px;
}

.uploadForm .editor-panel .options,
.uploadForm .controls {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.uploadForm .editor-panel button {
    outline: none;
    height: 40px;
    font-size: 14px;
    color: #6C757D;
    background: #fff;
    border-radius: 3px;
    margin-bottom: 8px;
    border: 1px solid #aaa;
}

.uploadForm .editor-panel .filter button {
    width: calc(100% / 2 - 4px);
}

.uploadForm .editor-panel button:hover {
    background: #f5f5f5;
}

.uploadForm .filter button.active {
    color: #fff;
    border-color: #5372F0;
    background: #5372F0;
}

.uploadForm .filter .slider {
    margin-top: 12px;
}

.uploadForm .filter .slider .filter-info {
    display: flex;
    color: #464646;
    font-size: 14px;
    justify-content: space-between;
}

.uploadForm .filter .slider input {
    width: 100%;
    height: 5px;
    accent-color: #5372F0;
}

.uploadForm .editor-panel .rotate {
    margin-top: 17px;
}

.uploadForm .editor-panel .rotate button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100% / 4 - 3px);
}

.uploadForm .rotate .options button:nth-child(3),
.uploadForm .rotate .options button:nth-child(4) {
    font-size: 18px;
}

.uploadForm .rotate .options button:active {
    color: #fff;
    background: #5372F0;
    border-color: #5372F0;
}

.uploadForm .wrapper .preview-img {
    flex-grow: 1;
    display: flex;
    overflow: hidden;
    margin-left: 20px;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
}

.uploadForm .preview-img img {
    max-width: 490px;
    max-height: 335px;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.uploadForm .controls button {
    padding: 11px 20px;
    font-size: 14px;
    border-radius: 3px;
    outline: none;
    color: #fff;
    cursor: pointer;
    background: none;
    transition: all 0.3s ease;
    text-transform: uppercase;
}

.uploadForm .controls .reset-filter {
    color: #6C757D;
    border: 1px solid #6C757D;
}

.uploadForm .controls .reset-filter:hover {
    color: #fff;
    background: #6C757D;
}

.uploadForm .controls .choose-img {
    background: #6C757D;
    border: 1px solid #6C757D;
}

.uploadForm .controls .save-img {
    margin-left: 5px;
    background: #5372F0;
    border: 1px solid #5372F0;
}

/* publish images */

main .publishForm .innerPublish {
    padding: 5em 3em;
}

main .publishForm .innerPublish .bottom {
    margin-top: 2em;
    display: flex;
    justify-content: center;
}

main .publishForm .innerPublish .bottom form {
    width: 80%;
    padding: 3em;
    border: 1px solid white;
}

main .publishForm .innerPublish .bottom .inputForm {
    margin-bottom: 1em;
}


/* end */

/* myProfile */

.myProfile nav {
    margin: .5em 0;
}

.myProfile nav ul {
    display: flex;
    justify-content: space-between;
}

main {
    margin-top: 3em;
}

.myProfile .innerMyProfile .top {
    padding: 0 1em;
}

.myProfile .innerMyProfile .top .innerTop .followCount {
    display: flex;
    justify-content: space-around;
}

.myProfile .innerMyProfile .top .innerTop .followBtns {
    display: flex;
    margin: 1em 0;
}

.myProfile .innerMyProfile .top .innerTop .followBtns form {
    margin-right: .5em;
}

.myProfile .innerMyProfile .top .innerTop .followBtns form,
.myProfile .innerMyProfile .top .innerTop .followBtns button {
    width: 50%;
}

.myProfile .innerMyProfile .top .innerTop .followBtns .inputSubmit,
.myProfile .innerMyProfile .top .innerTop .followBtns .sendMsj {
    background-color: #0099ff;
    border-radius: 10%;
    color: white;
}

.myProfile .innerMyProfile .top .innerTop .publishedAndFollows {
    display: flex;
}

.myProfile .innerMyProfile .top .innerTop .publishedAndFollows a:nth-child(-n+2) {
    margin-right: .5em;
}

.myProfile .innerMyProfile .top .innerTop .publishedAndFollows a {
    text-align: center;
}

.myProfile .innerMyProfile .top .innerTop .avatar {
    width: 3em;
    height: 3em;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
}

.myProfile .innerMyProfile .top .innerTop .avatar img {
    width: 100%;
    height: auto;
    border: 1px solid chartreuse;
    position: absolute;
}

.myProfile .innerMyProfile .bottom .innerBottom {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 1px;
    row-gap: 1px;
}

.myProfile .innerMyProfile .bottom .innerBottom .published {
    width: auto;
    height: 10em;
    display: flex;
    align-items: center;
    background-color: #ccc;
    overflow: hidden;
}

.myProfile .innerMyProfile .bottom .innerBottom .published img {
    width: 100%;
    height: auto;
}



/* Comments */

.commentsNav nav ul {
    display: grid;
    grid-template-columns: [first] 10% [second] 80% [third] 10%;
    margin: .5em 0;
}

.commentsNav nav ul .backHome {
    display: inline;
    grid-column: first / second;
}

.commentsNav nav ul .comments {
    display: inline;
    grid-column: second / third;
    text-align: center;
}

.allComments .bottom .innerBottom {
    padding: 0 1em;
}

.allComments .bottom .innerBottom .comments .avatar {
    display: flex;
    margin-bottom: 1em;
}

.allComments .bottom .innerBottom .comments .avatar .content {
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.allComments .bottom .innerBottom .comments .avatar .content .innerLikesComments {
    text-align: center;
}

.allComments .bottom .innerBottom .comments .avatar .content .innerLikesComments p {
    margin: .5em 0;
}

.allComments .bottom .innerBottom .comments .avatar .content .innerLikesComments .likeComment {
    color: red;
}

.allComments .bottom .innerBottom .comments .avatar .innerAvatar {
    width: 4em;
    height: 4em;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 1em;
}

.allComments .bottom .innerBottom .comments .avatar .innerAvatar img {
    width: 100%;
    height: auto;
}

.allComments .bottom .innerBottom .addNewComment {
    margin-top: 2em;
}

/* end */


/* searchForm */

.searchForm .innerSearchForm {
    padding: 0 1em;
}

/* end */



@media screen and (max-width: 760px) {
    .uploadForm {
        padding: 25px;
        width: unset;
    }

    .uploadForm .wrapper {
        flex-wrap: wrap-reverse;
    }

    .uploadForm .wrapper .editor-panel {
        width: 100%;
    }

    .uploadForm .wrapper .preview-img {
        width: 100%;
        margin: 0 0 15px;
    }
}

@media screen and (max-width: 500px) {
    .uploadForm .controls button {
        width: 100%;
        margin-bottom: 10px;
    }

    .uploadForm .controls .row {
        width: 100%;
    }

    .uploadForm .controls .row .save-img {
        margin-left: 0px;
    }
}

/* end */


@media (max-width: 767px) {
    main .login .imageLogin {
        display: none;
    }

    main .login .innerLogin {
        display: block;
    }
}